<!doctype html>

<html>
  
  <head>
    <title>Jumbotron</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootswatch/3.0.0/amelia/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <style type="text/css">
      body {
        padding-top: 50px;
        padding-bottom: 20px;
      }
    </style>
  </head>
  
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><b>DC Delivery</b></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#about">About</a>
            </li>
            <li>
              <a href="#contact">Contact</a>
            </li>
            <li>
              <a href="#contact">Sign in</a>
            </li>
          </ul>
          <form class="navbar-form navbar-right">
            <div class="form-group"></div>
            <div class="form-group"></div>
          </form>
        </div>
        <!--/.navbar-collapse -->
      </div>
    </div>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="form-group">
        <div class="controls"></div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="drag-mask" data-ds-form="select" style="width: 699px; height: 38px;"></div>
            <div class="jumbotron">
              <h1 class="text-center">Payment</h1>
              <p class="text-center">You pay $10. We only accept Paypal.</p>
              <p style> <a class="btn btn-success btn-lg btn-block">Pay with PayPal</a> </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="drag-mask" data-ds-form="text_field" style="width: 699px; height: 38px;"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <!-- Example row of columns -->
      <hr>
      <footer>
        <p>&copy; DC Delivery 2013</p>
      </footer>
    </div>
    <!-- /container -->
  </body>

</html>